.list-item-row
  = form_with url: list_list_item_path(id: item.id), method: :put, html: { class: ["full", "mb-0"] } do |f|
    = f.text_field :description, { value: item.description, class: "list-item" }
  = form_with url: list_list_item_path(id: item.id), method: :put, html: { class: ["complete-form"] } do |f|
    = f.hidden_field :completed_at, value: true
    = f.submit "", class: ["complete-btn", item.completed_at.present? ? "completed" : ""]
