.list-item-row
  = form_with url: list_list_item_path(id: item.id), method: :put, html: { class: ["w-full", "mb-0"] } do |f|
    = f.text_field :description, { value: item.description, class: "border-none w-full bg-transparent" }
  = form_with url: list_list_item_path(id: item.id), method: :put, html: { class: ["complete-form"] } do |f|
    = f.hidden_field :completed_at, value: true
    = f.submit "", class: ["w-4 h-4 rounded-full bg-transparent border cursor-pointer", item.completed_at.present? ? "completed" : ""]
