.header-highlight
.flex.h-100.overflow-scroll
  = render partial:  "shared/sidebar", locals: { lists: @view.lists }
  .container.h-100.flex.flex-column{ "data-controller" => "item" }
    = render "header-nav"
    = render "finished_state"
    .flex.flex-column.h-100
      = render partial: "list_items", collection: @view.list_items, as: :item
    = render "footer"
= render "shared/new_modal"