.container.h-100.flex.flex-column{ "data-controller" => "item" }
  .flex.flex-column.hide.text-center{"data-id" => "finished-state" }
    %h2.text-highlight Congratulations!
    %p You finished this list. Doesn't it feel good?
  - @list_items.each do |item|
    - if item.completed_at.nil?
      .list-item-row
        = form_with url: list_list_item_path(id: item.id), method: :put, html: { class: ["full", "mb-0"] } do |f|
          = f.text_field :description, { value: item.description, class: "list-item" }
        = form_with url: list_list_item_path(id: item.id), method: :put, html: { class: ["complete-form"] } do |f|
          = f.hidden_field :completed_at, value: true
          = f.submit "", class: ["complete-btn", item.completed_at.present? ? "completed" : ""]
  .fixed.bottom
    = button_to "New Item", {action: :create}, class: ["mobile", "full"]
  .list-item-input.fixed.bottom.screen.full.mx-auto
    = form_with data: { turbo: false } do |f|
      = f.text_field :description, { id: "description", name: "description", placeholder: "Type your next item", class: "full" }
