.header-highlight
.flex.h-screen.overflow-y-scroll
  = render partial:  "shared/sidebar", locals: { lists: @view.lists }
  .container.px-2.mx-auto.flex.flex-col{ class: "w-full md:w-2/3", "data-controller" => "item", "data-action" => "resize@window->item#layout" }
    = render partial: "header-nav", locals: { settings: @view.list_settings }
    .flex.flex-col{ "data-id" => "list-items-cont" }
      - if @view.list_items.present?
        .mb-2
          = render partial: "list_items", collection: @view.list_items, as: :item
      - else
        = render partial: "finished_state"
    = render "footer"
= render "shared/new_modal"